@import "variables.scss";

:host {
  display: block;
  margin: 10px 10px 50px;
}

.loader {
  display: flex;
  justify-content: center;
}

th {
  font-size: inherit;
  background-color: $primary;
  color: white;
}

tr.mat-header-row {
  height: 45px;
}

.points-info {
  text-align: right;
}
