<div class="container" *ngIf="auth.user$ | async as user">
  <div>
    <h2>Team:</h2>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedTeam" name="selectedTeam" [compareWith]="compareFn">
        <mat-option *ngFor="let team of teams$ | async" [value]="team">
          {{team.teamName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <team-applications *ngIf="selectedTeam && selectedTeam.isLead"
    [currentUser]="user" [selectedTeam]="selectedTeam"></team-applications>
  <hr/>
  <div *ngIf="selectedTeam && seasonId$ | async as seasonId">
    <team-members [currentUser]="user" [seasonId]="seasonId" [selectedTeam]="selectedTeam"></team-members>
  </div>
</div>
