<h2 mat-dialog-title>{{actionLabel}}</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <input matInput placeholder="Quest Name" [(ngModel)]="playerQuest.questName" name="questName" />
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Quest Category" [(ngModel)]="playerQuest.category" name="category">
        <mat-option *ngFor="let category of categoryList" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Quest Source" [(ngModel)]="playerQuest.source" name="source" />
    </mat-form-field>

    <mat-button-toggle-group name="questType" aria-label="Quest Type" [(ngModel)]="playerQuest.required">
      <mat-button-toggle [value]="true">Required</mat-button-toggle>
      <mat-button-toggle [value]="false">Additional</mat-button-toggle>
    </mat-button-toggle-group>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="playerQuest">{{actionLabel}}</button>
</mat-dialog-actions>
