<h2 mat-dialog-title>{{actionLabel}}</h2>
<mat-dialog-content>
  <mat-spinner *ngIf="saving"></mat-spinner>
  <form [formGroup]="questForm" *ngIf="!saving">
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" required [compareWith]="compareById">
        <mat-option *ngFor="let category of categoryList$ | async" [value]="category">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Quest</mat-label>
      <input matInput [matAutocomplete]="auto" formControlName="quest" required
        placeholder="Type words with atleast 3 characters">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
        [displayWith]="questNameDisplay" (optionSelected)="questSelected($event)">
        <mat-option *ngFor="let quest of questSuggestions$ | async" [value]="quest">
          {{quest.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="questError">{{questError}}</mat-error>
      <mat-icon matSuffix color="error" *ngIf="isNewQuest">fiber_new</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Source</mat-label>
      <input matInput formControlName="source" required/>
      <mat-error *ngIf="sourceError">{{sourceError}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Quest Type</mat-label>
      <mat-select [errorStateMatcher]="typeErrorFieldMatcher" formControlName="type" required>
        <mat-option *ngFor="let type of questTypes" [value]="type">
          {{type | questType}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="typeError">{{ typeError }}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close [disabled]="saving">Cancel</button>
  <button mat-flat-button color="primary" (click)="saveQuest()" [disabled]="saving">
    {{actionLabel}}
  </button>
</mat-dialog-actions>
