@import "variables.scss";

.content {
  padding: 20px;
}

.card {
  padding: 0;
  width: 320px;
  border: 1px solid #bbb;
}

.card-toolbar {
  font-size: 1em;
  height: 35px;

  > span {
    flex: 1;
    text-align: center;
  }
}

.card-body {
  padding: 16px;

  .avatar {
    width: 50px;
  }
}

mat-card-content {
  display: flex;
  justify-content: space-between;
  
  >.player-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;
    color: $green;

    .exp-pts {
      font-size: 50px;
    }
  }
}

.player-info {
  display: flex;
  align-items: center;
  margin: 5px 0;

  >mat-icon {
    margin-right: 5px;
  }
}

.quest-toolbar {
  margin-top: 20px;
  height: 50px;

  >.spacer {
    flex: 1 1 auto;
  }
}
