<div class="content" >
  <div *ngIf="auth.user$ | async as user">
    <!-- My Own Profile -->
    <div *ngIf="!(otherUser$ | async)">
      <!-- My Own Info -->
      <mat-card class="box">
        <mat-card-header>
          <div mat-card-avatar>
            <img [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" class="avatar">
          </div>
          <mat-card-title>{{ user.displayName }}</mat-card-title>
          <mat-card-subtitle>{{ user.membership?.teamName || 'No Team Yet' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="player-info">
            <div class="basic-info">
              <span *ngIf="user.isAdmin">
                <mat-icon class="icon">whatshot</mat-icon>
                <b>Admin</b>
              </span>
              <span *ngIf="user.membership?.isLead">
                <mat-icon>work</mat-icon>
                <b>Team Lead</b>
              </span>
              <span *ngIf="!user.membership?.isLead && !user.isAdmin">
                <mat-icon>account_circle</mat-icon>
                <b>Player</b>
              </span>
              <span>
                <mat-icon>email</mat-icon> {{ user.email }}
              </span>
            </div>
            <div class="player-stats">
              <span class="exp-pts">
                {{ user.seasonExp }}
              </span>
              <span class="exp-label">
                <b>XP</b>
              </span>
            </div>
          </div>
        </mat-card-content>

        <!-- Enable Add Own Quest in debug mode -->
        <mat-card-actions *ngIf="debugMode">
          <button mat-stroked-button color="primary" (click)="addQuest(user, user)">
            Add Quest
          </button>
        </mat-card-actions>
      </mat-card>
      <!-- My Quests -->
      <h3>My Quests</h3>
      <player-quest-list [user]="user" isOwner="true"></player-quest-list>
    </div>

    <!-- Other User's Profile -->
    <div *ngIf="otherUser$ | async as otherUser">
      <span *ngIf="otherUser.error">{{ otherUser.error }}</span>
      <div *ngIf="!otherUser.error">
      <!-- Profile Box -->
      <mat-card class="box">
        <mat-card-header>
          <div mat-card-avatar>
            <img [src]="otherUser.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" class="avatar">
          </div>
          <mat-card-title>{{ otherUser.displayName }}'s Profile</mat-card-title>
          <mat-card-subtitle>{{ otherUser.membership?.teamName || 'No Team Yet' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="player-info">
            <div class="basic-info">
              <span *ngIf="otherUser.membership?.isLead">
                <mat-icon>work</mat-icon>
                <b>Team Lead</b>
              </span>
              <span><mat-icon>email</mat-icon> {{ otherUser.email }}</span>
            </div>
            <div class="player-stats">
              <span class="exp-pts">
                {{ otherUser.seasonExp }}
              </span>
              <span class="exp-label">
                <b>EXP</b>
              </span>
            </div>
          </div>
        </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button color="primary" (click)="addQuest(otherUser, user)">
              Add Quest
            </button>
          </mat-card-actions>
        </mat-card>
        <!-- Player Quests -->
        <h3>Quests</h3>
        <player-quest-list [user]="otherUser"></player-quest-list>
      </div>
    </div>
  </div>
</div>
