.content {
  padding: 20px;
}

.box {
  width: 300px;
  border: 1px solid #bbb;
}

.avatar {
	width: 50px;
}

span {
	display: flex;
	align-items: center;
	margin: 5px 0;
}

mat-icon, b {
	margin-right: 5px;
}

player-quest-list {
  margin-top: 20px;
}
