<div *ngIf="auth.user$ | async as user; else loadingProfile">
  <!-- My Own Profile -->
  <div *ngIf="viewOwnProfile; else othersProfile">
    <!-- My Own Info -->
    <mat-card class="card">
      <mat-toolbar color="primary" class="card-toolbar">
        <span>My Profile</span>
      </mat-toolbar>
      <div class="card-body">
        <mat-card-header>
          <img mat-card-avatar class="avatar"
            [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'"/>
          <mat-card-title>{{ user.displayName }}</mat-card-title>
          <mat-card-subtitle *ngIf="playerMembership">{{ playerMembership?.teamName }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>
            <span class="player-info" *ngIf="user.isAdmin">
              <mat-icon>whatshot</mat-icon>
              <b>Admin</b>
            </span>
            <span class="player-info">
              <mat-icon>stars</mat-icon> Season Rank: {{ user.seasonExp | seasonRank }}
            </span>
            <span class="player-info">
              <mat-icon>email</mat-icon> {{ user.email }}
            </span>
          </div>
          <div class="player-stats" *ngIf="playerMembership">
            <span class="exp-pts">{{ user.seasonExp }}</span>
            <b>XP</b>
          </div>
        </mat-card-content>
      </div>
    </mat-card>
    <!-- My Quests -->
    <div class="quest-space" *ngIf="playerMembership">
      <mat-toolbar class="quest-toolbar" color="primary">
        My Quests
      </mat-toolbar>
      <player-quest-list [membership]="playerMembership" isOwner="true"></player-quest-list>
    </div>
  </div>

  <!-- Other User's Profile -->
  <ng-template #othersProfile>
    <div *ngIf="otherUser$ | async as otherUser; else loadingProfile">
      <span *ngIf="otherUser.error">{{ otherUser.error }}</span>
      <div *ngIf="!otherUser.error">
        <!-- Profile Box -->
        <mat-card class="card">
          <!-- Viewing Other Profile-->
          <mat-toolbar color="primary" class="card-toolbar">
            <span>Team Member Profile</span>
          </mat-toolbar>
          <div class="card-body">
            <mat-card-header>
              <img mat-card-avatar class="avatar"
                [src]="otherUser.photoURL || 'https://api.adorable.io/avatars/109/fire.png'"/>
              <mat-card-title>{{ otherUser.displayName }}</mat-card-title>
              <mat-card-subtitle>{{ otherUser.teamName }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div>
                <span class="player-info">
                  <mat-icon>stars</mat-icon> Season Rank: {{ otherUser.seasonExp | seasonRank }}
                </span>
                <span class="player-info">
                  <mat-icon>email</mat-icon> {{ otherUser.email }}
                </span>
              </div>
              <div class="player-stats">
                <span class="exp-pts">{{ otherUser.seasonExp }}</span>
                <b>XP</b>
              </div>
            </mat-card-content>
          </div>
        </mat-card>
        <!-- Player Quests -->
        <div class="quest-space">
          <mat-toolbar class="quest-toolbar" color="primary">
            Quests
            <span class="spacer"></span>
            <button mat-button (click)="addQuest(otherUser, user)">
              <mat-icon class="icon">add_box</mat-icon>
              Add Quest
            </button>
          </mat-toolbar>
          <player-quest-list [membership]="otherUser"></player-quest-list>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #loadingProfile>
  <span>Loading profile...</span>
  <mat-spinner diameter="100"></mat-spinner>
</ng-template>
