<div class="content" >
  <div *ngIf="auth.user$ | async as user">
    <!-- My Own Profile -->
    <div *ngIf="!(otherUser$ | async)">
      <!-- My Own Info -->
      <mat-card class="box">
        <mat-card-header>
          <div mat-card-avatar>
            <img [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" class="avatar">
          </div>
          <mat-card-title>{{ user.displayName }}</mat-card-title>
          <mat-card-subtitle>{{ user.membership?.teamName || 'No Team Yet' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <span *ngIf="user.isAdmin">
            <mat-icon class="icon">whatshot</mat-icon>
            <b>Admin</b>
          </span>
          <span *ngIf="user.membership?.isLead">
            <mat-icon>work</mat-icon>
            <b>Team Lead</b>
          </span>
          <span><mat-icon>email</mat-icon> {{ user.email }}</span>
        </mat-card-content>

        <!-- Enable Add Own Quest in debug mode -->
        <mat-card-actions *ngIf="debugMode">
          <button mat-stroked-button color="primary" (click)="addQuest(user, user)">
            Add Quest
          </button>
        </mat-card-actions>
      </mat-card>
      <!-- My Quests -->
      <player-quest-list [user]="user"></player-quest-list>
      <!-- Team Members -->
      <team-members [currentUser]="user" isOwner="true">
      </team-members>
    </div>

    <!-- Other User's Profile -->
    <div *ngIf="otherUser$ | async as otherUser">
      <!-- Profile Box -->
      <mat-card class="box">
        <mat-card-header>
          <div mat-card-avatar>
            <img [src]="otherUser.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" class="avatar">
          </div>
          <mat-card-title>{{ otherUser.displayName }}'s Profile</mat-card-title>
          <mat-card-subtitle>{{ otherUser.membership?.teamName || 'No Team Yet' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <span *ngIf="otherUser.membership?.isLead">
            <mat-icon>work</mat-icon>
            <b>Team Lead</b>
          </span>
          <span><mat-icon>email</mat-icon> {{ otherUser.email }}</span>
        </mat-card-content>

        <mat-card-actions>
          <button mat-stroked-button color="primary" (click)="addQuest(otherUser, user)">
            Add Quest
          </button>
        </mat-card-actions>
      </mat-card>
      <!-- Player Quests -->
      <player-quest-list [user]="otherUser"></player-quest-list>
    </div>
  </div>
</div>
