<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sideNav.toggle()" matTooltip="Menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <a mat-button routerLink="/" matTooltip="reINFORce">
        <mat-icon class="icon">school</mat-icon>
        reINFORce
      </a>
      <span class="spacer"></span>
      <div *ngIf="auth.user$ | async as user; else login" class="nickname">
        <span matTooltip="{{user.displayName}}">
          {{user.displayName | nickname}}
        </span>
        <a mat-button (click)="auth.signOut()" matTooltip="Logout {{user.displayName}}">
          <mat-icon class="icon">exit_to_app</mat-icon>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="content"
    [class.fix-content-top]="mobileQuery.matches">
    <mat-sidenav #sideNav
      [mode]="mode"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      opened class="sidenav">
      <mat-nav-list>
        <a mat-list-item [routerLinkActive]="['active-menu']"
          [routerLinkActiveOptions]="{exact: true}"
          routerLink="/"
          (click)="closeSideNav()">
          <mat-icon class="icon">home</mat-icon>Home
        </a>
        <a mat-list-item [routerLinkActive]="['active-menu']"
          [routerLinkActiveOptions]="{exact: true}"
          routerLink="/profile"
          (click)="closeSideNav()">
          <mat-icon class="icon">person</mat-icon>My Profile
        </a>
        <div *ngIf="auth.user$ | async as user">
          <a mat-list-item *ngIf="user.membership?.isLead"
            [routerLinkActive]="['active-menu']"
            routerLink="/quests"
            (click)="closeSideNav()">
            <mat-icon class="icon">dashboard</mat-icon>Manage Quests
          </a>
          <a mat-list-item *ngIf="user.membership?.isApproved; else isNotMember"
            [routerLinkActive]="['active-menu']"
            routerLink="/team"
            (click)="closeSideNav()">
            <mat-icon class="icon">group</mat-icon>
            <span>Team</span>
          </a>
          <a mat-list-item *ngIf="user.isAdmin"
            [routerLinkActive]="['active-menu']"
            routerLink="/admin"
            (click)="closeSideNav()">
            <mat-icon class="icon">whatshot</mat-icon>Administrator
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #login>
  <a mat-button routerLink="/login" matTooltip="Click to Login">
    <mat-icon class="icon">person</mat-icon>
    Login
  </a>
</ng-template>

<ng-template #isNotMember>
  <a mat-list-item [routerLinkActive]="['active-menu']"
    routerLink="/register">
    <mat-icon class="icon">group</mat-icon>Join a Team
  </a>
</ng-template>