@import "variables.scss";

.quest {
  display: flex;
  flex-direction: column;

  > span {
    font-size: smaller;
  }
}

.questXP {
  color: $orange;
}

.completedXP {
  color: $green;
}

td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type {
  text-align: center;
  padding: 10px;
}

a.mat-icon-button {
  width: 25px;
}
