<table mat-table [dataSource]="questList | async">
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let quest">
      {{ quest.required ? 'Required' : 'Additional' }}
    </td>
  </ng-container>
  <ng-container matColumnDef="questName">
    <th mat-header-cell *matHeaderCellDef> Quest </th>
    <td mat-cell *matCellDef="let quest">
      <div class="quest">
        {{ quest.questName }}
        <span>Category: {{ quest.category }}</span>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let quest">
      <span *ngIf="quest.status === 'completed'"
        matTooltip="Completed on {{quest.completed  | firestoreDate}}">
        Completed
      </span>
      <span *ngIf="quest.status === 'pending'">
        For Validation
      </span>
      <button *ngIf="isOwner && quest.status === 'todo'"
        matTooltip="Submit for Completion"
        mat-raised-button color="primary" (click)="openSubmitQuestDialog(quest)">
        Submit
        <mat-icon>send</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="xp">
    <th mat-header-cell *matHeaderCellDef> XP </th>
    <td mat-cell *matCellDef="let quest" class="questXP"
      [ngClass]="{'notAwardedXP': !quest.completed}">
      {{ quest.required ? 10 : 5 }} XP
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
