<h3>{{ title }}</h3>
<table mat-table [dataSource]="members$ | async" class="mat-elevation-z8">
  <ng-container matColumnDef="displayName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let member">
      <span *ngIf="!currentUser.membership.isLead || member.uid === currentUser.uid">
        {{ member.displayName }}
        <mat-icon *ngIf="member.uid == currentUser.uid" class="icon">grade</mat-icon>
      </span>
      <a *ngIf="currentUser.membership.isLead && member.uid !== currentUser.uid"
        routerLink="/profile" [queryParams]="{uid: member.uid}">
        {{ member.displayName }}
      </a>
    </td>

  </ng-container>

  <ng-container matColumnDef="exp">
    <th mat-header-cell *matHeaderCellDef> XP </th>
    <td mat-cell *matCellDef="let member"> {{ member.seasonExp }}</td>
  </ng-container>

  <ng-container matColumnDef="seasonRank">
    <th mat-header-cell *matHeaderCellDef> Season Rank </th>
    <td mat-cell *matCellDef="let member">{{ member.seasonExp | seasonRank }}</td>
  </ng-container>

  <ng-container matColumnDef="kickButton">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let member">
        <button mat-button *ngIf="kickButtonisVisible(member.uid)"
        (click)="removeTeamMember(member)">Kick</button>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="memberColumns"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: memberColumns"></tr>
</table>
