@import '~@angular/material/theming';

:host {
  display: block;
  margin: 10px 10px 50px;
}

form {
  display: flex;
  align-items: baseline;
}

.season-name {
  flex: 1;
  padding: 0 15px;
}

.season {
  color: mat-color(mat-palette($mat-indigo));
}
