@import "variables.scss";

:host {
  display: flex;
}

.dropzone-container {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  border: 2px dashed $primary;

  &.dropped {
    border: 2px dashed $green;
  }

  &.hovering {
    border: 2px dashed $accent;

    label {
      color: $accent;
    }
  }
}

.dropzone {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  > label {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    cursor: pointer;

    h5 {
      margin: 0;
    }

    span {
      font-weight: normal;
      font-size: 0.7em;
    }
  }

  .hidden-input {
    display: none;
  }
}

.show-image {
  position: relative;

  mat-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
  }
}
